h1 {
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  color:#cfd8dc;
}

h2 {
  margin: 10px 10px 0px 10px;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color:#e6a80e;
}

h4 {
  margin-left: 5px;
  text-align: center;  
}

.space {
	flex: 1 1 auto;
}

.content {
  margin: 1% 1%;
  border: 1px solid #8080806b;
}

.folder-icon {
  color: #e6a80e;
}

.item {
  display: flex;
  margin: 10px 10px -10px 10px;
  cursor: pointer;
}

button {
	font-weight: bold;
	font-size: 15px;
}

.active {
  color: #4caf50;
}

mat-drawer {
	min-height: 400px;
}

mat-drawer-content {
	min-height: 400px;
}