<mat-toolbar color="primary">
	<h1>Bookmark Manager</h1>
	<span class="space"></span>
    <base-button [config]="addButtonConfig"></base-button>
</mat-toolbar>

<mat-drawer-container class="content">
    <mat-drawer #drawer mode="side" opened>
        <div *ngFor="let group of groups" (click)="loadGroup(group)" class="item" [ngClass]="{'active':isActive(group)}">
           	<mat-icon mat-list-icon class="folder-icon">folder</mat-icon>
       		<h4>{{group}}</h4>
        </div>
    </mat-drawer>

    <mat-drawer-content>
		<div class="example-sidenav-content">
			<button type="button" mat-button (click)="drawer.toggle()">Show/Hide groups</button>
		</div>
		<base-table [config]="groupTableConfig"></base-table>
	</mat-drawer-content>
</mat-drawer-container>
