<h1 mat-dialog-title> Add Bookmark </h1>

<form (ngSubmit)="add()">
	<div mat-dialog-content>
	    <mat-form-field appearance="legacy">
	        <mat-label>Site Name</mat-label>
	        <input matInput placeholder="Name" [formControl]="name">
	        <mat-error *ngIf="name.hasError('required')">
                Site name is <strong>required</strong>
   			</mat-error>
	    </mat-form-field>
	    <mat-form-field appearance="legacy">
	        <mat-label>URL</mat-label>
	        <input matInput placeholder="Url" [formControl]="url">
	        <mat-error *ngIf="url.hasError('required')">
                URL is <strong>required</strong>
   			</mat-error>
	    </mat-form-field>
	    <mat-form-field appearance="legacy">
	        <mat-label>Group</mat-label>
	        <input matInput placeholder="Group" [formControl]="group">
	    	<mat-error *ngIf="group.hasError('required')">
                Group/Category is <strong>required</strong>
   			</mat-error>
   			<mat-error *ngIf="group.hasError('maxlength')">
                Group/Category is <strong>not valid</strong>
   			</mat-error>
	    </mat-form-field>
	</div>

	<div mat-dialog-actions>
	  <button mat-raised-button type="submit" cdkFocusInitial color="primary">Save</button>
	  <button mat-button mat-dialog-close #addCloseButton>Cancel</button>
	</div>
</form>

